@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

body {
  color: red;
  font-family: Work Sans, sans-serif;
  margin: 0; 
}

a {
  margin-left: 30px;
  text-decoration: none;
  color: #FFFFFF;
  padding-bottom: 3px;
  transition: border-bottom 0.5s;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-bottom: 2px solid #FFB6C4;
}

/* Header */

header {
  background-color: #2F6A49;
  padding: 20px 20px;
}

h1 {
  margin: 0;
}

nav{
  margin-top: 5px;
}

/* Hero */

.hero {
  font-weight: 500;
  color: #FE5504;
  padding: 275px 0;
  text-align: center;
  background-image: url("../assets/header-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h2 {
  margin: 0 auto;
  max-width: 850px;
  font-size: 90px;
}
/* About */

.about {
  background-color: #FFB6C4;
  height: 394px;
  width: 100%;
  color: #2F6A49;
  text-align: center;
  font-weight: 500;
}

.about h3 {
  margin: 0;
  font-size: 36px;
  padding: 50px 0;
}

.about p {
  font-size: 26px;
  margin: 0 auto;
  width: 800px;
  padding-bottom: 102px;
  text-align: center;
}

/* Food */

.food {
  font-weight: 400;
  text-align: left;
  height: 394px;
  color: #2F6A49;
  background-color: #FFD400;
}

.food-text,
.food img {
  width: 50%;
}

.food h3 {
  padding: 65px 275px 0 80px;
  width: 269px;
  margin: 0;
  font-size: 26px;
}

.food p {
  width: 400px;
  padding: 0 60px 15px 80px;
  font-size: 18px;
}

/* Quote */

.quote {
  padding: 100px 0;
  background-color: #FFB6C4;
  color: #2F6A49;
}

blockquote {
  margin: 0 auto;
  max-width: 700px;
}

.quote p {
  margin: 0;
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
}

/* Footer */

footer {
  padding: 20px;
  color:  #2F6A49;
  background-color: #FFB6C4;
}

footer p {
  margin: 5px 0 0;
}

/* Utilities */

.col-l {
  float: left;
}

.col-r {
  float: right;
}

.clearfix {
  overflow: hidden;
}

.tr {
  box-sizing: border-box;
  border: 2px solid #212121;
}